.body {
	font-family: Lato, sans-serif;
}

.search-container {
	background: #2b3e50;
}
.main-div {
	margin-top: 65px;
}

.search-title {
	font-size: 63px;
	color: #fff;
}

.subtitle {
	margin-top: 20px;
	font-size: 35px;
	color: #fff;
}

.search-input {
	margin-top: 50px;
	margin-bottom: 40px;
}

.search-box {
	background: #4e5d6c !important;
	color: #fff;
	width: 60%;
	margin: 0 auto;
}

.search_btn {
	display: block;
	margin: 30px auto 20px;
}

.did-you-mean {
	margin: 20px;
	height: 40px;
}

.suggest-title {
	color: #fff;
	padding: 10px 10px;
	font-weight: 900;
	font-size: 16px;
}

.suggest-content {
	color: #fff;
	padding: 10px 10px;
	font-size: 14px;
	cursor: pointer;
}

.results {
	margin: 15px auto;
	width: 75%;
	min-height: 320px;
}

.content-title {
	font-weight: 900;
	font-size: 50px;
	margin: 25px 0;
}

.content-text {
	font-size: 20px;
	font-weight: 300;
	letter-spacing: 2px;
	text-align: justify;
}

.all_pages {
	padding: 25px 50px;
	background: #2b3e50;
	min-height: 200px;
	height: 100%;
	width: 100%;
	color: #fff;
}

.single_element {
	display: inline-block;
	margin: 10px 25px;
}

.single_element:hover {
	cursor: pointer;
}

.pages_title {
	font-size: 48px;
	color: #fff;
	margin: 25px 0 40px;
}
